@font-face {
    font-family: 'PusabRegular';
    src: url('../typo/PUSAB___-webfont.eot');
    src: url('../typo/PUSAB___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typo/PUSAB___-webfont.woff') format('woff'),
         url('../typo/PUSAB___-webfont.ttf') format('truetype'),
         url('../typo/PUSAB___-webfont.svg#PusabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***************************
* BALISES NUES
***************************/
html {
	background: none;
}

body {
	background : url('../images/bg.png');
	text-align: center;
	color: #424242;
}

a {
	text-decoration: none;
}

h1#logo {
	display: block;
	margin: 40px 0 20px;
}

h1#logo a {
	font-family: 'PusabRegular';
	font-size: 75px;
	color: #FF9900;
	text-shadow: 2px 2px 0 #FFFFFF, 4px -1px 0 #424242;
}

form {
	margin: 0 auto;
	text-align: left;
}
form:after {
	content:'';
	display:block;
	clear: both;
}

label {
	display: block;
	/*font-family: 'PusabRegular';*/
	font-size: 15px;
	color: #fff;
	margin-bottom: 5px;
	text-align: left;
}

input {
	background: #FFFFFF;
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: #424242;
    font-style: italic;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input:focus {
	border-color: #fff;
	box-shadow: 0 1px 1px #fff inset, 0 0 8px #fff;
	outline: 0 none;
}

/***************************
* CONTAINERS
***************************/
#action {
}

#page {
	max-width: 60%;
	min-width: 350px;
	margin: 50px auto 0 auto;
	padding: 20px 20px 50px;
	background-color: rgb( 233, 233, 233 );
	background-image : url('../images/bg_page.png');
	box-shadow: 1px 1px 10px #555;
	border-radius: 10px;
}

/***************************
* TYPO
***************************/
p.lead {
	font-family: 'PusabRegular';
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 50px;
	color: #3299BB;
	text-shadow: 2px 2px 0 #FFFFFF;
}
p.lead strong {
	color: #424242;
	font-weight: normal;
	font-size: 105%;
}

.small {
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
}

p.error:before {
	content:'';
	background: url('../images/quote.png') no-repeat;
	padding: 25px 35px 25px 25px;
}

p.error {
	font-style: italic;
	font-family : sans-serif;
	font-size: 19px;
	padding: 20px;
	
}

a.button, .submit_button input {
	background:  -moz-linear-gradient(top,#FFBB00, #e80);
	background:  -webkit-linear-gradient(top,#FFBB00, #e80);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 5px #888888;
    color: #FFFFFF;
    display: inline-block;
    margin: 10px auto;
    padding: 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    font-family: 'PusabRegular';
    font-size: 21px;
    font-style: italic;
}
a.button:hover, .submit_button input:hover {
	background:  -moz-linear-gradient(top,#FFCC00, #f90);
	background:  -webkit-linear-gradient(top,#FFCC00, #f90);
}
/***************************
* FORMULAIRES
***************************/

form#new_djif {
	position: relative;
	width: 320px;
}

.input_group {
	position: relative;
	margin: 20px auto;
	width: auto;
	padding: 10px;
	background: #FF9900;
	border-radius: 10px;
	background:  -moz-linear-gradient(top,#ff9900, #d70);
	background:  -webkit-linear-gradient(top,#ff9900, #d70);
	box-shadow: 0 1px 5px #888888;
	text-align: left;
}

.input_group.sound_group {
	margin: 27px auto 10px;
	background:  -moz-linear-gradient(top,#3299BB, #107799);
	background:  -webkit-linear-gradient(top,#3299BB, #107799);
}

.input_group input {
	width: 245px;
}

.input_group.gif_group .preview {
	float: right;
	width: 50px;
	text-align: center;
}
.input_group.gif_group .preview > * {
	max-width: 50px;
	max-height: 50px;
}

form .input_group.sound_group .preview {
    float: none;
    margin-top: 5px;
    width: 245px;
}

.input_group:after {
	content:'';
	display:block;
	clear: both;
}

.input_group .iconic {
	font-size: 55px;
	color: #fff;
	width: 55px;
	float: left;
}

#plus {
    background:  -moz-linear-gradient(top,#FFBA00, #EEA900);
	background:  -webkit-linear-gradient(top,#FFBA00, #EEA900);
    border-radius: 50px;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
	z-index: 3;
	position : absolute;
	bottom : -33px;
	left : 50%;
	margin-left : -20px;
	box-shadow: 0 1px 5px #888888;
	/*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/
}

.submit_button {
	text-align: center;
}


.djif {
	width: 500px;
	margin: 0 auto 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.screen {
	width : 100%;
	margin: 0 auto;
	/*border : 2px solid black;*/
}

.screen img {
	width : 100%;
}

.speaker > *, .input_group.sound_group .preview > * {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
.input_group.sound_group .preview > img {
	width: auto;
}
.input_group.sound_group .preview > audio {
	bottom: 5px;
}
.speaker, .input_group.sound_group .preview {
    height: 36px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #1B1B1B;
}

#tinyurl {
	width: 450px;
}
#tinyurl input {
	width: 365px;
}

.audio_links a, .audio_links a span {
	font-size: 13px;
	color: #3299BB;
    cursor: pointer;
    vertical-align: middle;
}
.audio_links .iconic {
	font-size: 20px;
}
a#hide_audio {
	display: none;
}

.share_icons {
	padding-left: 20px;
}
.share_icons .stButton {
	margin: 0;
	font-size: 10px;
}

#tooltip {
	display : none;
	position : absolute;
	margin : 0;
	padding : 5px;
	top : -40px;
	width : 200px;
	left : -100px;
	color : #fff;
	background-color : rgba(0,0,0,0.8);
	border-radius : 10px;
}

#presentation {
	width : 300px;
	color : #fff;
	text-align : center;
}

/****************************************************
* ANIMATIONS
****************************************************/
.mask {
    width: 150%;
    height: 150%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.mask-1 {
	background: rgba(57,34,0,0.4);
    left: auto;
    right: 0px;
}
.mask-2 {
	background: rgba(15,46,56,0.4);
    top: auto;
    bottom: 0px;    
}

.mask-2:after {
    bottom: 33%;
    color: #FFFFFF;
    content: "G";
    font-size: 40px;
    height: 50px;
    margin-bottom: -25px;
    margin-right: -50px;
    opacity: 1;
    position: absolute;
    right: 66%;
    width: 100px;
    z-index: 1050;
    font-family: 'IconicStroke';
}

.mask-1.animated {
    transform: rotate(90deg) translateY(120%);
	-ms-transform: rotate(90deg) translate(0,120%); /* IE 9 */
	-webkit-transform: rotate(90deg) translate(0,120%); /* Safari and Chrome */
}

.mask-2.animated { 
    transform: rotate(90deg) translateY(-120%);
	-ms-transform: rotate(90deg) translate(0,-120%); /* IE 9 */
	-webkit-transform: rotate(90deg) translate(0,-120%); /* Safari and Chrome */
}