@font-face {
    font-family: 'PusabRegular';
    src: url('../typo/PUSAB___-webfont.eot');
    src: url('../typo/PUSAB___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typo/PUSAB___-webfont.woff') format('woff'),
         url('../typo/PUSAB___-webfont.ttf') format('truetype'),
         url('../typo/PUSAB___-webfont.svg#PusabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background: none;
}
body {
	background : url('../images/bg.png');
	text-align: center;
}

h1 {
	font-family: 'PusabRegular';
	font-size: 56px;
	margin-bottom: 5px;
	color: #FF9900;
}

form {
	background : #424242;
	border-radius : 20px;
	border : 5px solid white;
	width : 300px;
	height : 500px;
	color : white;
	padding : 10px;
	margin : 0 auto;
	left : 50%;
}

#page {
	max-width: 600px;
	margin: 20px auto 0 auto;
	padding: 20px;
/*	text-align: left;*/
	background-color: rgb( 233, 233, 233 );
	background-image : url('/images/az_subtle.png');
	box-shadow: 1px 1px 10px #555;
}

p.lead {
	font-family: 'PusabRegular';
	font-size: 25px;
	margin-top: 0;
	color: #3299BB;
}
