<div class="djif"[[size]] onclick="_[[hash]]_switch()" onmouseover="load_[[hash]]_djif(true)" id="_[[hash]]_djif">
	<div class="mask mask-1"></div>
    <div class="mask mask-2"></div>
    <div class="mask mask-3">
    	<a href="/edit/[[hash]]"><span class="iconic wrench"></span>Edit this <span class="edit_djif">Djif</span></a>
    </div>
	<div class="speaker">
		<div id="_[[hash]]_speaker"></div>
	</div>
	<div class="screen" id="_[[hash]]_screen">
		<img class="stopped" src="/[[hash]].jpg"/>
		<img class="gif" style="display : none"/>
	</div>
	<script>
		document.getElementById('_[[hash]]_djif').setAttribute('data-actif', 'false');
	
		[[audio]]
		[[gif]]

		function load_[[hash]]_djif(manualload) {
			load_[[hash]]_audio(manualload);
			load_[[hash]]_gif();
			document.getElementById('_[[hash]]_djif').onmouseover=null;
		}

		function _[[hash]]_switch() {
			
			switch(document.getElementById('_[[hash]]_djif').getAttribute('data-actif')) {
				case 'true':
					disableDjif('[[hash]]');
					_[[hash]]_speaker_stop();
					break;
				case 'false':
					var djifs = document.querySelectorAll('.djif[data-actif="true"]');
					for (var i = 0; i < djifs.length; i++) {
						djifs[i].click();
					}
					_[[hash]]_speaker_play();
					enableDjif('[[hash]]');
					break;
				case 'ignore':
					document.getElementById('_[[hash]]_djif').setAttribute('data-actif', 'true');
					break;
			}
		}

		$(document).ready(function() {
			if ([[directload]]) {
				load_[[hash]]_djif(false);
			}
		});

	</script>
</div>
