<div class="djif" id="_[[hash]]_djif" data-actif="false" data-hash="[[hash]]"[[size]][[width]][[height]]>
	
	<div class="mask mask-1"></div>
	<div class="mask mask-2"></div>
	<div class="mask mask-3">
		<div class="social-link">
			<a href="http://twitter.com/share?text=[[sharetitle]]&url=[[url]]">
				<img src="/images/twitter.png" />
			</a>
			<a href="https://plus.google.com/share?url=[[url]]">
				<img src="/images/googleplus.png" />
			</a>
			<a href="http://www.facebook.com/sharer.php?s=100&p[url]=[[url]]&p[title]=[[sharetitle]]&p[images][0]=[[shareimg]]&p[summary]=[[sharetext]]">
				<img src="/images/facebook.png" />
			</a>
			<!-- script type="text/javascript" src="/js/diaspora-share-button/widget.js"></script -->
		</div>
		<a href="/edit/[[hash]]">
			<span class="iconic wrench"></span>Edit this <span class="edit_djif">Djif</span>
		</a>
	</div>
						
	<div class="speaker">
		<div id="_[[hash]]_speaker"></div>
	</div>
	<div class="screen" id="_[[hash]]_screen">
		<img class="stopped" src="/[[hash]].jpg"/>
		<img class="gif" style="display: none;"/>
	</div>
	
	[[audio]]
	[[gif]]
	
	<script>
	
	$(function(){
		/************************************
		 * DJIFS LOAD
		 ************************************/
		$('#_[[hash]]_djif .mask a').hover(function(){onlink=true;}, function(){onlink=false;});
		$('#_[[hash]]_djif').click(function(event){
			if (!onlink) {
				gif_load['[[hash]]']();
				djif_switch('[[hash]]');
			}
		});
		var ajax = [[ajax]];
		if(ajax) {
			audio_load['[[hash]]']();
		}
	});

	</script>
</div>
