<form action="/new" method="post" id="new_djif">
	<img src="/images/loader_film.gif" style="display: none;" />
	<div class="input_group gif_group">
		<span class="iconic camera"></span>
		<label for="gif_url">Gif<span class="small">URL of your gif</span></label>
		<input id="gifSource" type="text" name="gif_url" onclick="select()" value="[[gifUrl]]"/>
		<div id="plus">+</div>
	</div>

	<div class="input_group sound_group">
		<span class="iconic play_alt"></span>
		<label for="audio_url">Sound<span class="small">Youtube, MP3, Dailymotion...</span></label>
		<input id="soundSource" type="text" name="audio_url" onclick="select()" value="[[audioUrl]]"/>
	</div>
	
	<div class="submit_button">
		<input id="remix" type="submit" value="Mix !"/><p id="tooltip">Choose a gif and a sound to mix together</p>
	</div>
</form>
